h1 {
    color: white;
    font-size: 3em;
    padding-top: 10vh;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif

}
#counter {
    font-size: 4em;
    margin-top: 25vh;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
#weeks {
    font-size: 4em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
body {
    color: white;
    background: rgb(131,58,180);
    background: radial-gradient(circle, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%) no-repeat;
    height: 100vh;
    width: 100vw;
    text-align: center;
}